@font-face {
  font-family: 'NT Somic';
  font-weight: normal;
  src: url("/assets/NTSomic-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: 'NT Somic';
  font-weight: bold;
  src: url("/assets/NTSomic-Bold.ttf");
  font-display: swap;
}

body {
  background: #fff2ff;
  margin: 1rem auto;
  color: #3c383c;
  font-family: 'NT Somic', sans-serif;
  font-size: 1.25rem;
  line-height: 1.8;
  max-width: 48rem;
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
b,
hr {
  color: #1a161a;
}

a:hover,
a code:hover {
  color: #fff2ff;
  background: #1a161a;
}

main {
  text-align: justify;
}

pre,
code {
  background: #eee1ee;
}

nav * {
  margin-right: 1rem;
}

img {
  width: 100%;
  max-width: 48rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1a161a;
    color: #ccbbcc;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  b,
  hr {
    color: #ffeeff;
  }

  a:hover,
  a code:hover {
    color: #1a161a;
    background: #ffeeff;
  }

  pre,
  code {
    background-color: #2b272b;
  }
}

@media print {
  nav {
    display: none;
  }

  body {
    color: #333333;
    background: #ffffff;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  b,
  hr {
    color: #000000;
  }
}